# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
# the above line is for node_modules in frontend directory
node_modules/ 
# the above line is for node_modules in root directory which has server or backend dependencies 
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env 
# above line is for environment variable which store all the sensitive data
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
